:root {
  --text-primary: #2e2e2e;
  --main-width: 992px;
  --simple-button-padding: 10px 12px;
  --border-radius-standard: 5px;

  --primary-color: #ffcd00;
}

* {
  outline: none;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
    color: var(--text-primary);
}
